.footer {
  display: flex;
  font-weight: 300;
  font-size: 13px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.footer svg {
  fill: var(--sr-primary-color);
  cursor: pointer;
  transition: 200ms;
}

.footer svg:hover {
  fill: var(--sr-pink-color-primary);
}
