.formSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--sr-secundary-color);
  width: 100%;
  padding: 20px;
  color: var(--sr-primary-color);
}

.formSection > div > h3 {
  color: var(--sr-blue-color-primary);
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.formSection > div > p {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
  font-size: 17px;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.formSection > div > form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  font-size: 30px;
  font-weight: 300;
  font-size: 17px;
  max-width: 600px;
  align-items: center;
}

.formSection > div > form input {
  color: var(--sr-primary-color) !important;
  padding: 5px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--sr-primary-color);
  border-radius: 0;
  color: var(--sr-secundary-color);
  width: 250px;
  margin: 10px 0 25px 0;
}

.formSection > div > form textarea {
  margin: 20px;
  width: 100%;
  height: 100px;
  color: var(--sr-primary-color) !important;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.136);
  padding: 10px;
  border-radius: 10px;
  font-family: var(--font-mono);
}

.formSection > div > form button {
  background-color: var(--sr-blue-color-primary);
  font-size: 16px;
  border: none;
  color: var(--sr-secundary-color);
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  transition: 100ms;
  margin-top: 20px;
}

.formSection > div > form button:hover {
  background-color: var(--sr-primary-color);
  color: var(--sr-secundary-color);
}
