.spaceHeader {
  height: 50px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.home > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 15px;
  width: 100%;
}

.home > div:nth-of-type(4) {
  margin-bottom: 30px;
}

.home > div > input::placeholder {
  color: var(--sr-taupe-gray);
  font-size: 14px;
}

.home > div:nth-child(1) form {
  color: var(--sr-blue-color-secundary);
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 5px;
}

.home > div:nth-child(1) input {
  margin-bottom: 10px;
  padding: 5px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--sr-secundary-color);
  border-radius: 0;
  color: var(--sr-secundary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home > div input {
  height: 28px;
}

.home > div:nth-child(1) h3 {
  color: var(--sr-blue-color-secundary);
}

.home > div:nth-child(1) button {
  align-self: center;
  background-color: transparent;
  border: 1px solid var(--sr-blue-color-secundary);
  color: var(--sr-blue-color-secundary);
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  transition: 100ms;
}

.home > div:nth-child(1) button:hover {
  background-color: var(--sr-blue-color-secundary);
  color: var(--sr-primary-color);
}

.selectForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.home form select {
  align-self: center;
  margin: 0 0 20px 0;
  padding: 5px;
  text-align: center;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--sr-secundary-color);
  border-radius: 0;
  color: var(--sr-secundary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px dotted var(--sr-blue-color-secundary);
  padding-top: 20px;
  gap: 10px;
  width: 100%;
  text-align: justify;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: -40px;
}

.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.events > h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: bisque;
  width: 100%;
  padding: 3px;
  font-size: 17px;
}

.events > div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  gap: 5px;
}

.event > button {
  background-color: transparent;
  border: 1px solid var(--sr-blue-color-secundary);
  color: var(--sr-blue-color-secundary);
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  transition: 100ms;
  transform: scale(0.9);
}

.grupalDates01 > div {
  width: 350px;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background: rgb(248, 217, 100);
  background: rgb(255, 237, 168);
  background: linear-gradient(
    318deg,
    rgba(242, 78, 127, 0.382) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: 2px 2px 2px #00000023;
}

.grupalDates03 {
  margin-bottom: 20px;
}

.grupalDates01 > h3,
.grupalDates02 > h3,
.grupalDates03 > h3 {
  width: 100%;
  text-align: center;
  padding: 5px;
  color: var(--sr-primary-color);
  margin: 10px 0;
  font-size: 18px;
  background: linear-gradient(
    70deg,
    var(--sr-blue-color-primary) -50%,
    var(--sr-blue-color-secundary) 50%,
    var(--sr-blue-color-primary) 150%
  );
}

.grupalDates01,
.grupalDates02,
.grupalDates03 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  position: relative;
  width: 170px;
  height: 230px;
  perspective: 1000px;
  cursor: pointer;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.flipped .cardInner {
  transform: rotateY(180deg);
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cardFaceFront {
  z-index: 2;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  padding: 35px 10px 0 10px;
  border-radius: 20px;
  background: rgb(248, 217, 100);
  background: rgb(255, 237, 168);
  background: linear-gradient(
    318deg,
    rgba(255, 237, 168, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: 2px 2px 2px #00000023;
}

.cardFaceBack {
  box-shadow: 2px 2px 2px #00000023;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transform: rotateY(180deg);
  background: rgb(248, 217, 100);
  background: rgb(255, 237, 168);
  background: linear-gradient(
    318deg,
    var(--sr-secundary-color) 50%,
    #2b232a97 100%
  );
}

.cardFaceFront > strong:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sr-primary-color);
  background-color: #2b232aa3;
  border-radius: 5px;
  width: 117%;
  height: 25px;
}

.cardFaceFront > span {
  display: block;
  position: absolute;
  color: var(--sr-secundary-color);
  filter: opacity(0.3);
  top: 20px;
  left: 0;
  font-size: 30px;
  animation: click 0.7s infinite;
}

@keyframes click {
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.detailButton {
  color: var(--sr-blue-color-primary);
  border-color: var(--sr-blue-color-primary);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.card.disappearing {
  animation: fadeOut 1s forwards;
}

.confirmedUser > p {
  color: var(--sr-blue-color-secundary);
  font-size: 16px;
  margin-bottom: 8px;
}

.confirmedUser > div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10px;
}

.usernameImg {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.usernameImg > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.usernameImg > p {
  color: var(--sr-blue-color-secundary);
  font-size: 12px !important;
  margin-top: 3px;
}

.pendingEvents {
  height: 35px;
}

.pendingButtons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.pendingButtons > button {
  color: var(--sr-secundary-color);
  border-color: var(--sr-secundary-color);
  transform: scale(0.9);
}

.pendingButtons > button:last-child {
  background-color: var(--sr-secundary-color);
  border-color: var(--sr-primary-color);
  color: var(--sr-primary-color);
}

.pendingButtons > button:last-child:hover {
  background-color: var(--sr-primary-color);
  border-color: var(--sr-secundary-color);
  color: var(--sr-secundary-color);
}

.eventTime {
  margin-bottom: 7px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventTime > span {
  color: #2b232a8e;
}
.eventTime > span:hover {
  cursor: default;
}
