.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: -10px;
}

.calendarContainer span {
  all: initial;
}

.calendarContainer span:hover {
  all: initial;
}

.personalEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30px;
  align-self: center;
  background-color: rgb(90, 181, 149);
  color: white;
  border-radius: 8px;
}

.grupalEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30px;
  align-self: center;
  background-color: rgb(242, 78, 127);
  border-radius: 8px;
  color: white;
}

.personalEvent > div,
.grupalEvent > div {
  display: flex;
  font-size: 9px;
  height: 10px;
  margin-top: -2px;
  align-items: center;
  justify-content: center;
}

.eventDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.noEvent {
  margin-top: 30px;
}

.ubication {
  margin-top: 6px;
}

.eventTime {
  font-style: italic;
}
