.nav_l {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  border-bottom: 1px dotted #2b232a62;
  padding: 10px 15px;
}

.nav_l > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_l > div > img {
  width: 25px;
  height: 25px;
}

.nav_l > div > h1 {
  font-size: 15px;
  color: var(--sr-pink-color-primary);
}

.nav_l > ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_l > ul > li {
  list-style: none;
}

.nav_l > ul > li > a {
  font-size: 15px;
}

.button {
  background-color: var(--sr-secundary-color);
  color: var(--sr-primary-color);
  width: 120px;
  height: 25px;
  border-radius: 10px;
  transition: 200ms;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  border: none;
}

.button:hover {
  background-color: var(--sr-pink-color-primary);
}
